<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moding.springcloud.springsecuritydistributeduaa.dao.UserDao" >
    <sql id="BASE_TABLE">
        t_user
    </sql>

    <sql id="BASE_COLUMN">
        id,username,password,enabled
    </sql>

    <insert id="insert" parameterType="com.moding.springcloud.springsecuritydistributeduaa.model.UserDto">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="BASE_TABLE"/>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{username, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},#{enabled, jdbcType=TINYINT},
        </trim>
    </insert>

    <delete id="deleteUserById">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE
        deptno = #{deptno, jdbcType=INTEGER}
    </delete>
    <!-- 更新用户信息，为空的字段不进行置空 -->
    <update id="EditUser" parameterType="com.moding.springcloud.springsecuritydistributeduaa.model.UserDto">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="username != null">
                userName = #{userName, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enabled = #{enabled, jdbcType=TINYINT},
            </if>
        </set>
        <where>
            id = #{id, jdbcType=INTEGER}
        </where>
    </update>

    <select id="queryUsers" resultType="com.moding.springcloud.springsecuritydistributeduaa.model.UserDto">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="queryUserByUsername" resultType="com.moding.springcloud.springsecuritydistributeduaa.model.UserDto">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        <where>
            username = #{username, jdbcType=VARCHAR}
        </where>
    </select>
</mapper>